# Ignore arquivos de configuração locais
.env
*.env

# Ignore diretórios e arquivos de log
logs/
*.log

# Ignore diretórios e arquivos temporários
tmp/
*.tmp
*.swp

# Ignore arquivos e diretórios de dados persistentes
zabbix/mysql/
zabbix/alertscripts/
zabbix/externalscripts/
grafana/data/

# Ignore arquivos gerados pelo Docker
docker-compose.override.yml
docker-compose.*.yml
*.bak

# Ignore arquivos de cache e builds
.cache/
.build/

# Ignore arquivos de IDEs/Editors comuns
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore arquivos de sistema operacional
.DS_Store
Thumbs.db

# Ignore arquivos de backup
*.bak
*.old
*.orig
*.save

# Ignore arquivos binários
*.exe
*.dll
*.so
*.dylib
